package views

templ Home() {
	@Index() {
		<div class="mockup-browser border-base-300 border">
			<div class="mockup-browser-toolbar">
				<div class="input border-base-300 border">https://github.com/sebastian-nunez/golang-search-engine</div>
			</div>
			<div class="border-base-300 flex justify-center border-t px-4 py-16">Hello, world!</div>
		</div>
	}
}
